
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
}
body{
    height: 920px;
    width: 100%;

}
.col-1{
    height: 400px;
    width: 13%;
    position: relative;
    top: 80px;
    float: left;
    background-color: #E8E1E2;
    margin: 3px;
}
.col-2{
    height: 830px;
    width: 19%;
    position: relative;
    top: 80px;
    float: left;
    background-color: #E8E1E2;
    margin: 3px;
}
.col-3{
    height: 830px;
    width:42%;
    position: relative;
    top: 80px;
    float: left;
    background-color: #E8E1E2;
    margin: 3px;
}
.col-4{
    height: 910px;
    width: 23%;
    position: relative;
    float: left;
    background-color: #E8E1E2;
    margin: 3px;
    
}


/*  col-1 stuff  */
.nav{
    height: 16%;
    width: 90%;
    margin: 2px auto;

    background-color: #BAB4B5;
}
/*  col-2 stuff  */
.section{
    height: 25%;
    width: 90%;
    margin: 0 auto;

}
.col-2-title{
    height: 19%;
    width: 60%;
    background-color: #2F2D2E;
    margin-bottom: 5px;
    line-height: 250%;
    text-align: left;
}
.col-2-title p{
    color: white;
    
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
}
.col-2-paragraph{
    height: 75%;
    width: 50%;
    background-color: #8C8788;
    margin-bottom: 5px;
    line-height: 210%;
    text-align: left;
}
.col-2-paragraph p{
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}

/*  col-3 stuff  */
.title{
    
    width: 90%;
    margin: 1 auto;
    height: 70px;
    background-color: #181717;
    margin-bottom:10px;
    line-height: 35px;;
    text-align: left;
}
.title p{
    color: white;    
    display: inline-block;
    vertical-align: middle;
    font-family: 'Zilla Slab', serif;
    font-size: 29px;
    padding: 0 10px;
}
.author{
    width: 30%;
    margin-left:5%;
    height: 45px;
    background-color: #747171;
    margin-bottom:45px;
}
.about{
    width: 90%;
    margin: 1 auto;
    height: 45px;
    background-color: #747171;
    margin-bottom: 66px;
}
.paragraph1{
    width: 90%;
    margin: 1 auto;
    height: 100px;
    background-color: #5D5A5B;
    margin-bottom:45px;
}
.paragraph2{
    width: 90%;
    margin: 1 auto;
    height: 90px;
    background-color: #8C8788;
    margin-bottom:45px;
}
.diagram{
    width: 90%;
    margin: 1 auto;
    height: 120px;
    background-color: #464444;
    margin-bottom:55px;

}
.button{
    width: 30%;
    margin-left: 5%;
    height: 50px;
    background-color: #181717;
    margin-bottom:45px;

}
/*  col-4 stuff  */

.other1{
    width: 90%;
    height: 38%;
    margin: 2px auto;
    background-color: #747171;

}
.other2{
    width: 90%;
    height: 38%;
    margin: 2px auto;
    background-color: #747171;

}
.other3{
    width: 90%;
    height: 19%;
    margin: 2px auto;
    background-color: #747171;

}